{% exetends "base.html" %}

{% block content %}

<div class="card" style="text-align:center;">
    <h2>Reflejos Rápidos</h2>
    <p>Haz clic en el círculo rojo tan rápido como puedas.</p>
    <div style="display: flex; justify-content: space-between; margin-bottom: 1rem">
        <span>Tiempo: <b id="time-display">0</b> ms</span>
        <span>Aciertos: <b id="score-display">0</b>/5</span>
    </div>
    <div id="game-area">
        <div id="target"></div>
    </div>
    <button id="start-btn" class="btn btn-primary" style="margin-top: 1rem;">Comenzar Juego</button>
    <div id="result-box" class="class" style="display: none; margin-top: 20px; border: 2px solid var(--color-secondary); ">
        <h3>Resultados de Sesión</h3>
        <p>Precisión <span id="final-acc"></span></p>
        <p>Tiempo Promedio <span id="final-time"></span> ms</p>
        <hr>
        <h4 style="color: var(--color-primary-dark);">Recomendación</h4>
        <h2 id="ai-recommendation">...</h2>
        <a href="{{url_for('dashboard')}}" class="btn btn-secondary">Volver al Dashboard</a>
    </div>
</div>
<script src="{{ url_for('static', filename='games.js') }}"></script>
{% endblock %}